img {
  width: 2rem;
  margin-right: 1rem;
}
.contact {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0.5rem 4rem;
}
.contact__desc {
  display: flex;
  align-items: flex-end;

}
.contact-list__add {
  display: flex;
  justify-content: center;
  
}
.contact-list__add-btn {
  width: 10rem;
  
}
